<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8">
  <title th:text="${post.title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="keywords" content="myuan,前端社区"/>
  <meta name="description" content="码猿社区"/>
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/res/css/global.css}"/>
  <script th:src="@{/res/layui/layui.js}"></script>
  <script th:src="@{https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js}"></script>
</head>
<body ng-app="app">

<div th:replace="/common/header::header"></div>

<div th:replace="/common/column::column"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${post.title}"></h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          <span th:switch="${post.pcolumn}">
            <span class="layui-badge layui-bg-green fly-detail-column" th:case="0">提问</span>
            <span class="layui-badge layui-bg-green fly-detail-column" th:case="99">分享</span>
            <span class="layui-badge layui-bg-green fly-detail-column" th:case="100">讨论</span>
            <span class="layui-badge layui-bg-green fly-detail-column" th:case="101">建议</span>
            <span class="layui-badge layui-bg-green fly-detail-column" th:case="168">公告</span>
          </span>
          <span class="layui-badge" style="background-color: #5FB878;" th:if="${post.ended} == 1">已结</span>
          <span class="layui-badge" style="background-color: #999;" th:if="${post.ended} == 0">未结</span>
          <span class="layui-badge layui-bg-black" th:if="${post.topped} == 1">置顶</span>
          <span class="layui-badge layui-bg-red" th:if="${post.boutiqued} == 1">精帖</span>

          <div class="fly-admin-box" data-th-id="${post.id}">
            <shiro:hasPermission name="post:delete">
              <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
            </shiro:hasPermission>
            <shiro:hasPermission name="post:top">
              <span class="layui-btn layui-btn-xs jie-admin" th:if="${post.topped == '0'}" type="set" field="topped" rank="1">置顶</span>
              <span class="layui-btn layui-btn-xs jie-admin" th:if="${post.topped == '1'}" type="set" field="topped" rank="0"
                    style="background-color:#ccc;">取消置顶</span>
            </shiro:hasPermission>
            <shiro:hasPermission name="post:jing">
              <span class="layui-btn layui-btn-xs jie-admin" th:if="${post.boutiqued == '0'}" type="set" field="boutiqued" rank="1">加精</span></c:when>
              <span class="layui-btn layui-btn-xs jie-admin" th:if="${post.boutiqued == '1'}" type="set" field="boutiqued" rank="0"
                    style="background-color:#ccc;">取消加精</span>
            </shiro:hasPermission>
          </div>
          <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> <span th:text="${post.ansnum}"></span></a>
            <i class="iconfont" title="人气">&#xe60b;</i> <span th:text="${post.popularity }"></span>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" th:href="'/user/'+${post.userId} + '/info'">
            <img th:src="@{/images/{img}(img=${user.img})}"/>
          </a>
          <div class="fly-detail-user">
            <a th:href="'/user/'+${post.userId} + '/info'" class="fly-link">
              <cite><span th:text="${user.name}"></span></cite>
            </a>
            <span th:text="${post.time }"></span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin">
            <span style="padding-right: 10px; color: #FF7200" th:text="|悬赏 : ${post.kiss }飞吻|"></span>
          </div>
        </div>
        <div class="detail-body photos">
          <table class="layui-table" th:hidden="${post.pcolumn} != '1'">
            <tbody>
            <tr>
              <td th:text="|技术类型: ${post.ptype }|"></td>
              <td th:text="|技术方向: ${post.version }|"></td>
            </tr>
            </tbody>
          </table>
          <div name="detail" th:text="${post.content }"></div>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda">
          <div th:each="answer:${page.list}">
            <li data-th-id="${answer.id}" class="jieda-daan">
              <a name="item"></a>
              <div class="detail-about detail-about-reply">
                <a class="fly-avatar" th:href="'/user/'+${answer.userId}+'/info'">
                  <img th:src="@{/images/{img}(img=${answer.userImg})}">
                </a>
                <div class="fly-detail-user">
                  <a th:href="'/user/'+${answer.userId}+'/info'" class="fly-link">
                    <cite><span th:text="${answer.userName}"></span></cite>
                  </a>
                </div>

                <div class="detail-hits">
                  <span th:text="${answer.time}"></span>
                </div>

                <i th:if="${post.acceptId == answer.id}" class="iconfont icon-caina" title="最佳答案"></i>
              </div>
              <div name="detail" class="detail-body jieda-body photos" th:text="${answer.content}">
              </div>
              <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em><span th:text="${answer.likes}"></span></em>
              </span>
                <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
                <div class="jieda-admin">
                  <span th:if="${session.user==null?fasle:session.user.id==answer.userId}" type="del">删除</span>
                  <span th:if="${session.user==null?fasle:session.user.id==answer.userId && post.ended == '0'}" class="jieda-accept"
                        type="accept">采纳</span>
                </div>
              </div>
            </li>
          </div>
          <input type="hidden" id="totalCount" th:value="${page.count}">
          <input type="hidden" id="currentPage" th:value="${page.currentPage}">
          <input type="hidden" id="pageNum" th:value="${page.pageNum}">
          <div id="add"></div>
          <!-- 无数据时 -->
          <li id="reply" class="fly-none">消灭零回复</li>
        </ul>
        <div style="text-align: center" id="page"></div>
        <div class="layui-form layui-form-pane">
          <form id="answerInfo">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容" class="layui-textarea fly-editor"
                          style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" id="postId" name="postId" th:value="${post.id}">
              <input type="hidden" id="userId" name="userId">
              <button class="layui-btn" type="button" onclick="answerSubmit(this)">提交回复</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd th:each="top:${topList}">
          <a th:href="'/jie/detail/' + ${top.id}" th:text="${top.title}"></a>
          <span><i class="iconfont icon-pinglun1"></i> <span th:text="${top.ansnum}"></span></span>
        </dd>
        <!-- 无数据时 -->
        <div th:if="${topList == null}" class="fly-none">没有相关数据</div>

      </dl>
      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01"
             style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">

        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>
<div th:replace="/common/footer::footer"></div>
<script th:src="@{/res/mods/form.js}"></script>
<script th:src="@{/res/mods/jquery.js}"></script>
<script>

    var userId = getUserId();
    $("#userId").val(userId);
    layui.cache.user = {
        uid: userId
    };
    layui.config({
        version: "3.0.0"
        , base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use('jie', function () {
        var fly = layui.fly;
        layui.use(['laypage'], function () {
            var laypage = layui.laypage;
            var $ = layui.jquery;
            $("[name='detail']").each(function () {
                var othis = $(this), html = othis.html();
                othis.html(fly.content(html));
            });
            var currentPage = $("#currentPage").val(); //当前页
            var pageNum = $("#pageNum").val(); //总页数
            var totalCount = $("#totalCount").val();  //查询总条数
            var pageSize = 6;  //每页条数
            //分页
            if (totalCount > 0) {
                $("#reply").addClass("layui-hide");
                laypage.render({
                    elem: 'page'
                    , count: totalCount
                    , groups: 3
                    , limit: 6
                    , curr: currentPage
                    , jump: function (obj, first) {
                        if (!first) {
                            var postId = $("#postId").val();
                            window.location.href = "/jie/detail/" + postId + "/" + obj.curr;
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    function answerSubmit(e) {
        var id = $("#userId").val();
        var content = $("#L_content").val();
        if (id == "-1") {
            layer.msg("未登录");
            return;
        }
        if (content == '') {
            layer.msg("回答内容不能为空", {icon: 2, time: 1000, shade: 0.1, offset: '300px'}, function () {
            });
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/answer",
            data: $("#answerInfo").serialize(),
            success: function (res) {
                if (res.status == "-1") {
                    layer.msg("回复失败", {anim: 6, time: 1000, shade: 0.1, offset: '300px'}, function () {
                    });
                } else {
                    $("#reply").addClass("layui-hide");
                    addHtml(res.data);
                    e.style.backgroundColor = "#c2c2c2";
                    e.disabled = "true";
                    $("#L_content").val("");
                }

            }
        });
    }

    function addHtml(html) {
        var fly = layui.fly;
        $("#add").append(html);
        $("#ahtml").each(function () {
            var othis = $(this), html = othis.html();
            othis.html(fly.content(html));
        });
    }
</script>
</body>
</html>