
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8">
  <title th:text="|${user.name}的主页|"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="keywords" content="myuan,前端社区"/>
  <meta name="description" content="码猿社区"/>
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/res/css/global.css}"/>
  <script th:src="@{/res/layui/layui.js}"></script>
  <script th:src="@{https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js}"></script>
</head>
<body style="margin-top: 65px;">

<div th:replace="/common/header::header"></div>

<div class="fly-home fly-panel" style="background-image: url();">
  <img th:src="@{/images/{img}(img=${user.img})}">
  <h1>
    <span style="font-size: 25px;color: black" th:text="${user.name}"></span>
    <i th:if="${user.sex == '男'}" class="iconfont icon-nan"></i>
    <i th:if="${user.sex == '女'}" class="iconfont icon-nv"></i>
    <input type="hidden" id="userId" th:value="${session.user == null ? -1: session.user.id}">
    <shiro:hasRole name="superadmin"><span style="color:#c00;">（超级管理员）</span></shiro:hasRole>
    <shiro:hasRole name="admin"><span style="color:#c00;">（管理员）</span></shiro:hasRole>
    <span th:if="${user.locked == '1'}">（该号已被封）</span>

  </h1>
  <!--<p style="padding: 10px 0; color: #5FB878;">认证信息：layui 作者</p>-->

  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;" th:text="|${user.kiss} 飞吻|"></span>
    <i class="iconfont icon-shijian"></i><span th:text="|${user.time} 加入|"></span>
    <i class="iconfont icon-chengshi"></i><span th:text="${user.city}"></span>
  </p>

  <p class="fly-home-sign" th:text="|(${user.description})|"></p>

</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title" th:text="|${user.name} 最近的提问|"></h3>
        <ul class="jie-row">
          <li th:each="post:${posts}">
            <span class="layui-badge layui-bg-black" th:if="${post.topped} == 1">置顶</span>
            <span class="layui-badge layui-bg-red" th:if="${post.boutiqued} == 1">精帖</span>
            <a th:href="'/jie/detail/'+${post.id}" class="jie-title" th:text="${post.title}"></a>
            <i><p th:text="${post.time}"></p></i>
            <em class="layui-hide-xs"><p th:text="|${post.popularity}阅/${post.ansnum}答|"></p></em>
          </li>

          <div th:if="${posts == null}" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div>
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title" th:text="|${user.name} 最近的回答|"></h3>
        <ul class="home-jieda">
          <li th:each="answer:${answers}">
          <p>
          <span th:text="${answer.time}"></span>
            你回答了<a th:href="'/user/' + ${answer.userId} + '/info'" th:text="${answer.userName}"></a>：
          </p>
          <div name="detail" class="home-dacontent" th:text="${answer.content}">

          </div>
        </li>
          <div th:if="${answers == null}" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div th:replace="/common/footer::footer"></div>
<script th:src="@{/res/mods/form.js}"></script>
<script th:src="@{/res/mods/jquery.js}"></script>
<script>
  var userId = $("#userId").val();
layui.cache.page = 'user';
layui.cache.user = {
  uid: userId
};
layui.config({
  version: "3.0.0"
  ,base: '/res/mods/'
}).extend({
  fly: 'index'
}).use('user', function () {
    var fly = layui.fly;
    $("[name='detail']").each(function(){
        var othis = $(this), html = othis.html();
        othis.html(fly.content(html));
    });
});
</script>

</body>
</html>