<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="myuan,前端社区"/>
  <meta name="description" content="码猿社区"/>
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/res/css/global.css}"/>
  <script th:src="@{/res/layui/layui.js}"></script>
  <script th:src="@{https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js}"></script>
</head>
<body ng-app="app">

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img th:src="@{/res/images/logo.png}" alt="myuan"/>
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    <ul class="layui-nav fly-nav-user">
      <!-- 登入后的状态 -->
      <shiro:user>
        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:;">
            <cite class="layui-hide-xs">贤心</cite>
            <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
            <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
            <img
                src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"/>
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/user/set"><i class="layui-icon">&#xe612;</i>用户中心</a></dd>
            <dd><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <hr>
            <dd><a href="/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
            </dd>
            <dd><a href="/user/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;"/>
            <dd><a href="/user/logout" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </shiro:user>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item"><a href="/user/${user.id }"><i class="layui-icon">&#xe609;</i>我的主页</a></li>
    <li class="layui-nav-item"><a href="/user/index"><i class="layui-icon">&#xe612;</i>用户中心</a></li>
    <li class="layui-nav-item"><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></li>
    <li class="layui-nav-item"><a href="/user/post"><i class="layui-icon">&#xe620;</i>我的帖子</a></li>
    <li class="layui-nav-item layui-this"><a href="/user/message"><i class="layui-icon">&#xe611;</i>我的消息</a></li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button class="layui-btn layui-btn-danger layui-hide" id="LAY_delallmsg">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <!--<div class="fly-none">您暂时没有最新消息</div>-->
        <ul class="mine-msg">
        </ul>
      </div>
	  </div>
	</div>
</div>
<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>
<script th:src="@{/res/mods/form.js}"></script>
<script th:src="@{/res/mods/jquery.js}"></script>
<script>
layui.cache.page = 'user';
var userId = getUserId();
layui.cache.user = {
  uid: userId
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('user');
</script>
<script>

</script>
</body>
</html>